.logo {
    position: absolute;
    border-radius: 50%;
    left:7%;
    margin-left: 5%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size:4vw;
    font-display: swap; 
  }

.active1{
    border-bottom: 1px solid white;
}
.active2{
    border-bottom: 1px solid white;
}.active3{
    border-bottom: 1px solid white;
}.active4{
    border-bottom: 1px solid white;
}.active5{
    border-bottom: 1px solid white;
}